form {
    width: 100%;
    position: fixed;
}

button {
    width: 33%;
    padding: 0.5rem;
}

button.selected {
    background-color: #000;
    color: #fff;
}

ul {
    padding: 3rem 2rem 1rem;
}

li {
    margin-bottom: 1rem;
}

.content {
    margin-top: 0px;
    /* Adjust the margin-top value as needed */
}

.table-container {
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-top: 52px;
}

td {
    border: #000 solid 1px;
    padding: 0.25rem;
}